/**
 * Caloriosa reporter (world) theme
 * Author: PurrplingCat
 */

body {
  font-family: $body-font-family
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family !important;
}

.error-msg {
  color: #ffffff;
}

.full-width: {
  margin: 0;
  width: 100% !important;
}

.tags {
  font-size: 13px;
}

.footer {
  font-size: 11px;
  color: $grey.darken-3;
}

ul.footer-menu {
  display: inline-block;
  padding: 0 1rem;
  li {
    display: inline-block;
    margin: 0 1rem;
  }
}
