/**
 * Caloriosa reporter (world) theme
 * Author: PurrplingCat
 */

body {
  font-family: $body-font-family
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family !important;
}

.error-msg {
  color: #ffffff;
}

.full-width: {
  margin: 0;
  width: 100% !important;
}

.tags {
  font-size: 13px;
}

.footer {
  font-size: 11px;
  color: $grey.darken-2;
}

ul.footer-menu {
  display: inline-block;
  padding: 0 1.5rem;
  li {
    display: inline-block;
    margin: 0 1rem;
  }
}

ul.footer-menu.big-spaces {
  li {
    margin: 0 1.5rem;
  }
}

.error-footer {
  color: $grey.darken-2;
  font-size: 14px;
}

.ontop {
  z-index: 1;
}

.fade {
  opacity: 0.85;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.fade:hover {
  zoom: 1;
  opacity: 1;
}

@media screen and (max-width: 500px) {
  ul.footer-menu {
    display: block;
    li {
      display: block;
      margin: .5rem 0;
    }
  }
  ul.footer-menu.big-spaces {
    li {
      margin: 1rem 0;
    }
  }
}
