/**
 * CSS resets and theme defaults
 */

 $theme-colors: (
  "primary": #057ace,
  "success": #31aa46,
  "warning": #ebb319,
  "danger": #e0332a,
  "info": #1aa5b8,
  "dark": #1e2024
);

$enable-rounded: true;
$enable-gradients: true;
$enable-shadows : true;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
}
